# Common
*~

# Vim
*.sw?

# KDE
.directory

# OSX
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes

# Git
.git*

# CI
.travis.yml

# Projects
/Makefile
/man-pages-source/
/man-pages-tokens/
/man-pages-manual/
/man-assemble.rb
/man-tokenize.rb
/man-verify
*.md
